iroffer-dinoex-*/Makefile
iroffer-dinoex-*/src/iroffer_config.h
iroffer-dinoex-*/iroffer
iroffer-dinoex-*/iroffer_chroot
iroffer-dinoex-*/o.en
iroffer-dinoex-*/debian/iroffer-dinoex/
iroffer-dinoex-*/debian/.debhelper
iroffer-dinoex-*/debian/iroffer-dinoex.debhelper.log
iroffer-dinoex-*/debian/files
iroffer-dinoex-*/debian/debhelper-build-stamp
iroffer-dinoex-*/debian/iroffer-dinoex.substvars
iroffer-dinoex-*/.pc
/iroffer-dinoex-dbgsym*
/iroffer-dinoex*.debian.tar.xz
/iroffer-dinoex*.dsc
/iroffer-dinoex*.build
/iroffer-dinoex*.changes
/iroffer-dinoex*.deb
